<ul>
  <li><%= link_to('Home', '/') %></li>
  <li><%= link_to('Systems', '/systems') %></li>
  <li><%= link_to('Subscriptions', '/subscriptions') %></li>
  <li><%= link_to('Statistics', '/statistics') %></li>
  <li class="nav-section">Manage</li>
  <li><%= link_to('Sync', '/admin/sync') %></li>
  <li><%= link_to('Export', '/admin/export') %></li>
</ul>
<div class="copyright">
  <p>&copy; 2019 Dom Barnes</p>
</div>
